
body,html{
    width: 100%;
    height: 100%;
    background-color: #ECEEF1;
}

.body{
    width: 100%;
    height: 75%;
}

.header{
    margin-right: 10%;
    width: 100%;
    height: 10%;
}
.header-content{
    margin: 0 25% 0 75%;
    width: 300px;
    display: block;
}

#login-2{
 float: left;

}
.sign-in{
    display: inline;
    margin-left: 5px;
}

.button-img{
    margin-top: 5%;
}
.add-links{
    margin: 0% 55% 0% 45%;
}
.add-links2{
    margin: 0% 63% 0% 37%;
}
.Color{
background-color: gray;
}


.form{
    margin-top: 0%;
    width: 100%;
    height: 80%;
}
.fieldset{
    position: relative;
    width: 40%;
    left : 30%;
    height: 98%;
}

.form-fields{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2px;
    margin-bottom: 2px;
    text-align: center;
}
.footer-1, .footer-2, .form-end, .form-end-2{
    text-align:center;
}
